@* Trevor Shumway, Mar 20*@
@{
    ViewData["Title"] = "Edit a Movie";
}
@model MovieVoting.Models.Movie
<div>
    <h1 style="text-align: center; font-size: 70px; font-family: papyrus;"><b>Edit Movie</b></h1>
    <fieldset>
        <form method="post">
            <table>
                <tr>
                    <td><label asp-for="Title">Title:</label></td>
                    <td><input asp-for="Title" id="title" /></td>
                </tr>

                <tr>
                    <td><label asp-for="Length">Length (minutes):</label></td>
                    <td><input asp-for="Length" /></td>
                </tr>

                <tr>
                    <td><label asp-for="Length">Length (minutes):</label></td>
                    <td><input asp-for="Length" /></td>
                </tr>

                <tr>
                    <td><label asp-for="NumVotes">Number of Votes:</label></td>
                    <td><input asp-for="NumVotes" /></td>
                </tr>

                <tr>
                    <td><label asp-for="Watched">Watched:</label></td>
                    <td><input type="checkbox" asp-for="Watched" /></td>
                </tr>

                <tr>
                    <td><label asp-for="Voting">Voting:</label></td>
                    <td><input type="checkbox" asp-for="Voting" /></td>
                </tr>

                <tr>
                    <td><label asp-for="DateWatched">Date Last Watched:</label></td>
                    <td><input asp-for="DateWatched" /></td>
                </tr>

            </table>
            <label asp-for="Category">Category:</label>
            <select asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }

            </select>

            <input type="hidden" asp-for="Voting" value="true" />

            <br /><br />
            <input type="submit" value="Submit" />
            <div asp-validation-summary="All"></div>
        </form>
    </fieldset>
</div>