@{
}

@model Movie

<h1 style="text-align: center; font-size: 70px; font-family: papyrus;"><b>Please confirm</b></h1>
<br />
<br />
<h2>Vote for <i>@Model.Title</i>?</h2>
<h6 style="padding-left: 40px">Length (minutes): @Model.Length</h6>
<br />
<br />


<fieldset>
    <form method="post" asp-action="Vote">
        <button type="submit" class="btn btn-small btn-success">Yes</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-small btn-primary">Cancel</a>
        <input type="hidden" asp-for="MovieId" />
    </form>
</fieldset>