@{
}

@model MovieVoting.Models.Movie


<h1 style="text-align: center; font-size: 70px; font-family: papyrus;"><b>When did we watch @Model.Title?</b></h1>
<br /><br />
<form method="post" asp-action="Watched">
    <label asp-for="DateWatched">Date:</label>
    <input asp-for="DateWatched" name="watchdate" />
    <br /><br />
    <button type="submit" class="btn btn-small btn-success">Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-small btn-primary">Cancel</a>
    <input type="hidden" asp-for="MovieId" />


</form>